<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog: Lets Get Technucated</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Lets Get Technucated</h1>
        <nav>
            <a href="/">Home</a>
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer>
        <p>© Created by <a href="https://github.com/TrushilBudhia">Trushil</a></p>
    </footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>