<section>
    <h3>Add a new post</h3>
    <form class="form add-post-form">
        <div class="from-group">
            <input id="post-title" type="text" name="post-title" placeholder="Enter Post Title" />
        </div>
        <div class="from-group">
            <input id="post-content" type="text" name="post-content" placeholder="Enter Post Content" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Post</button>
        </div>
    </form>
</section>

<script src="./js/add-new-post.js"></script>