{{#if post.length}}
<section>
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
        <a href="/dashboard/edit/{{id}}">{{title}}</a>
    {{/each}}
</section>
{{/if}}

<a href="/dashboard/new">
    <button type="submit" class="btn">Add New Post</button>
</a>

<script src="/../js/add-new-post.js"></script>