{{#if post.length}}
<section>
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
        <a href="/dashboard/edit/{{id}}">{{title}}</a>
    {{/each}}
</section>
{{/if}}

<button type="submit" class="btn">
    <a href="/dashboard/new">Add New Post</a>
</button>

<script src="./js/add-new-post.js"></script>