{{> post-details post}}

<h2 class="comments-header">Comments</h2>
{{#if loggedIn}}
<section class="comment-card">
    <form class="comment-form">
        <label for="comment">Add a comment:</label><br>
        <textarea id="comment" name="comment" placeholder="Enter comment" rows="4" cols="50"></textarea><br>
        <button class="btn" id="add-comment-btn" type="submit">Submit</button>
    </form>
</section>
{{/if}}


{{!-- Add comments partial here --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/../js/comment.js"></script>
{{/if}}