{{> post-details post}}

{{#if loggedIn}}
<section class="post-card">
    <form class="form">
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment" placeholder="Enter comment"></textarea>>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</section>
{{/if}}

<h2>Comments</h2>
{{!-- Add comments partial here --}}