/* Setting up CSS variables in the root */
:root {
    --main-black: #000000;
    --main-green: #19a020;
    --main-dark-gray: #202020;
    --main-light-plum: #924577;
    --main-white: #ffffff;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* Element styling */ 
body {
    background: #ececec;
    font-family: Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--main-green);
}

#page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.3)
        ), 
        url("../images/bg.jpg") no-repeat bottom fixed;
    background-size: cover;
    border-bottom: 1px solid #2c2c2c;
    /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 50%); */
    color: #00688B;
    font-size: 125%;
    padding: 6rem 1.3rem;
}

header h1, header nav {
    color: var(--main-white);
    display: flex;
    margin-left: 2%;
}

header h1 {
    color: var(--main-white);
    font-size: 250%;
    opacity: 85%;
}

header nav a {
    border: 1px solid var(--main-white);
    border-radius: 2%;
    color: var(--main-white);
    margin-right: 2%;
    margin-top: 1rem;
    padding: 0.7rem 2rem;
    text-align: center;
    width: 6.3rem;
}

header nav a:hover {
    background: rgba(170, 105, 255, 0.4);
    /* background:         
    linear-gradient(
        rgba(170, 105, 255, 0.4), 
        rgba(20, 236, 56, 0.4)
    ); */
    color: var(--main-white);
}

/* Main section styling */ 
main {
    padding-bottom: 2rem;
}

/* Card section styling */ 
.post-card {
    border-bottom: 1px solid rgb(71, 71, 71, 0.2);
    padding-bottom: 1.5rem;
}

.post-header {
    display: block;
    margin: 1.5rem 0rem 1rem 0rem;
    padding: 1rem 0rem;
}

.post-header h2 {
    margin-bottom: 0.5rem;
}

.post-header h2 a {
    color: var(--main-dark-gray);
}

.post-header h2 a:hover {
    color: var(--main-green);
}

.post-body {
    background: #ececec;
    padding: 0rem 1rem 0.5rem 1rem;
    margin-bottom: 1rem;
}

/* Login/Signup section styling */
.login-card {
    align-items: center;
    border: 1px solid var(--main-dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    padding: 2rem;
}

.form-group {
    margin: 0.8rem 0rem;
}

.form-group button {
    background: #1d1d1d;
    border: 1px solid var(--main-dark-gray);
    border-radius: 4%;
    color: var(--main-white);
    font-size: 100%;
    margin: 0.7rem 0rem;
    padding: 0.5rem 4rem;
}

.form-group button:hover {
    background: #239b6d;
}

.form-input {
    font-size: 100%;
}

/* Footer section styling */
footer {
    background: var(--main-dark-gray);
    color: var(--main-white);
    display: flex;
    font-weight: 300;
    justify-content: center;
    margin-top: auto;
    min-width: 100%;
    padding: 1.25rem 0rem;
}
  
footer p a {
    color: var(--main-white);
}

footer p a:hover {
    color: var(--main-light-plum);
}

/* MEDIA QUERIES */
/***********************************************************/ 
/* For larger TABLETS and bigger devices - min-width 768px */
/***********************************************************/ 
@media only screen and (min-width: 768px) {
    header h1, header nav {
        color: var(--main-white);
        display: flex;
        justify-content: flex-start;
        margin-left: 17%;
    }

    header h1 {
        font-size: 320%;
    }

    main {
        margin: 0 auto;
        margin-top: 1.5rem;
        width: 66%;
    }
}
